__pycache__/
.vs/
.cowork-temp/
SDK_dump/
x64/
SurvivalLogMod\.vs/
SurvivalLogMod\obj/
SurvivalLogMod\Gamepath/
SurvivalLogMod\bin/
SurvivalLog\x64/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
