## Settings file was created by plugin SurvivalLogCheat v2.1.0
## Plugin GUID: cn.slcheat.survivallog

[界面]

## 用逗号分隔的 Unity KeyCode 名称；修改后重启游戏生效。
# Setting type: String
# Default value: Insert,F6,F7,F8
呼出热键 = Home

[Interface]

## WebView 目标帧率；0 表示跟随游戏帧数，固定值范围 30-240。当前 WebView 已初始化时将在下次启动生效。
# Setting type: Int32
# Default value: 0
WebViewFrameRate = 0

